.tab {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 10px;
    margin-right:2px;
}

.fileName {
    font-family: monospace;
    font-size: 13px;
    padding-right: 5px;
}

.close {
    display:flex;
    float:right;
    cursor:pointer;
}