.viewerContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.tabsGutter {
    height: 30px;
    width: 100%;
    background-color: #252526;
}

.tabsContainer {
    display: flex;
    flex-direction: row;
}